//MOB SEL

.gooey-option {
  position: relative;
  margin: 1rem 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #090030;
  -moz-box-shadow: 0 0 5px #b9d2d2;
  -webkit-box-shadow: 0 0 5px #b9d2d2;
  box-shadow: 0 0 5px #b9d2d2;
  //opacity: 0;
  visibility: hidden;
}

.gooey-option:hover {
  background: #383a56;
}

.g-option {
  display: flex;
  margin-left: 0.5rem;
}

.gooey-radio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.gooey-option label {
  font-size: 13px;
  text-align: center;
  color: white;
}

.gooey-menu {
  display: flex;
}

.gooey-selected {
  margin: 1.5rem 0rem 0 7.2rem;
  width: 200px;
  height: 45px;
  background: #090030;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  -moz-box-shadow: 0 0 5px #b9d2d2;
  -webkit-box-shadow: 0 0 5px #b9d2d2;
  box-shadow: 0 0 5px #b9d2d2;
  -webkit-tap-highlight-color: transparent;
}

.gooey-selected:hover {
  background: #383a56;
}

.gooey-selected p,
.gooey-selected i {
  font-size: 15px;
  text-align: center;
  color: white;

  cursor: pointer;
}

.gooey-selected p {
  padding: 1rem;
}

.gooey-selected i {
  padding: 1rem 1rem 1rem 0;
}

.gooey-active {
  //opacity: 1;
  visibility: visible;
  animation: option-animation 0.5s ease-in-out;
}

@keyframes option-animation {
  0% {
    transform: scale(0, 0) translateX(50px);
  }

  100% {
    transform: scale(1, 1) translateX(0px);
  }
}
