.app-name {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0rem;
}
.app-name h2 {
  color: white;
  font-family: "Montez", cursive;
  font-size: 3rem;
}

.sequencer {
  min-height: 100vh;
  width: max-content;
  margin: auto;
}

i,
svg {
  pointer-events: none;
}

.pad {
  width: 5rem;
  height: 5rem;
  margin: 0 0.3rem;
  border-radius: 40px;
  cursor: pointer;
}
.pads {
  padding-left: 2rem;
}
.kicka,
.snarea,
.hihata {
  display: flex;
  align-items: center;
}
//KICK START-------------------
.kick-pad {
  background: #f03164;
}

.kick-track {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-right: 1rem;
}

.kick {
  display: flex;
}

//KICK END----------------------

//SNARE START-----------------
.snare-pad {
  background: #f03164;
}

.snare-track {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-right: 1rem;
}

.snare {
  display: flex;
}

//SNARE END-------------------

//hohat start---------------
.hihat-pad {
  background: #f03164;
}

.hihat-track {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-right: 1rem;
}

.hihat {
  display: flex;
}
//hihat end--------------

//button start -----------
.mute {
  border: none;
  background: #090030;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 2rem;

  .fas {
    color: white;
    font-size: 20px;
    width: 10px;
    margin-right: 5px;
  }
}

.active {
  background: #9dd4af;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.volume-muted {
  opacity: 0.7;
}
