@import "dropdown";
@import "sequencer";
@import "button";
@import "rangeslider";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #090030;
}
button:focus {
  outline: 0;
}

@media screen and (max-width: 1279px) {
  .pad {
    width: 4rem;
    height: 4rem;
  }
  .play-button {
    margin-left: 6rem;
  }
  #tempo {
    width: 78%;
    margin: 3rem 0 2rem 8rem;
  }
}

@media screen and (max-width: 768px) {
  .pad {
    width: 3rem;
    height: 3rem;
  }
  .btn {
    padding: 15px 40px;
    font-size: 15px;
  }
  #tempo {
    width: 76%;
    margin: 3rem 0 2rem 7rem;
  }
  #tempo p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .pad {
    width: 2rem;
    height: 4rem;
  }
  .gooey-selected {
    margin: 1.5rem 0rem 0 0.5rem;
    width: 100px;
    height: 35px;
    border-radius: 50px;
  }
  .mute {
    padding: 0.8rem;
    border-radius: 10px;
    margin-left: 0.5rem;
  }
  .gooey-selected p,
  .gooey-selected i {
    font-size: 13px;
  }
  .gooey-option label {
    font-size: 13px;
  }
  .gooey-option {
    width: 55px;
    height: 55px;
  }
  .kick-track,
  .snare-track,
  .hihat-track {
    padding-bottom: 1rem;
  }
  .app-name {
    padding-top: 0.2rem;
    padding-bottom: 0;
  }
  .app-name h2 {
    font-size: 2rem;
  }
  .btn {
    padding: 10px 30px;
    font-size: 10px;
  }
  .play-button {
    margin-left: 4rem;
  }
  #tempo {
    width: 74%;
    margin: 3rem 0 2rem 5.5rem;
  }
}

@media screen and (max-width: 460px) {
  .pad {
    width: 1.2rem;
    height: 4rem;
  }
  .pads {
    padding-left: 0.5rem;
  }
  .gooey-selected {
    margin: 1.5rem 0rem 0 0rem;
    width: 80px;
  }
  .mute {
    padding: 0.5rem;
    border-radius: 10px;
    margin-left: 0.5rem;
  }
  .gooey-option {
    font-size: 6px;
  }
  .gooey-selected p,
  .gooey-selected i {
    font-size: 11px;
  }
  .gooey-option label {
    font-size: 11px;
  }
  .gooey-option {
    width: 50px;
    height: 50px;
  }
  .play-button {
    margin-left: 2rem;
  }
  #tempo {
    width: 100%;
    margin: 2rem 0;
  }
  #tempo p {
    font-size: 1rem;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 326px) {
  .sequencer {
    padding-left: 0.5rem;
  }
  .pad {
    width: 1rem;
    height: 4rem;
  }
  .play-button {
    margin-left: 0rem;
  }
  #tempo {
    width: 80%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 275px) {
  .pad {
    width: 0.8rem;
    height: 4rem;
  }
  .play-button {
    text-align: left;
    margin-left: 4rem;
  }
  #tempo {
    width: 70%;
    margin: 2rem 1.5rem;
  }
}
@media screen and (max-width: 250px) {
  .pad {
    width: 0.5rem;
    height: 4rem;
  }
  .play-button {
    margin-left: 2.5rem;
  }
  #tempo {
    width: 60%;
    margin: 2rem 1rem;
  }
}
